  - name: Install cups-browsed
    tags:
    - init
    - cups
    become: true
    become_method: doas
    community.general.pacman:
       name: cups-browsed
       state: present

  -name: Copy BROTHER-HL-2040 driver
    tags:
    - init
    - cups
    - server
    become: true
    become_method: doas
    ansible.builtin.copy:
      src: ./config/Brother-HL-2040-hl1250.ppd
      dst: /etc/cups/ppd/

  - name: Add cups printer
    tags: 
    - init
    - cups
    - server
    ansible.builtin.shell: lpadmin -p BROTHER-HL-2040 -E -v "usb://Brother/HL-2040%20series?serial=G6J156153" -m Brother-HL-2040-hl1250.ppd
