x-env: &env
  environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
  restart: unless-stopped

services:
  db:
    image: mariadb:10.6
    container_name: mariadb
    command: --transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW
    volumes:
      - /srv/mariadb:/var/lib/mysql
    <<: *env
    environment:
      - MYSQL_ROOT_PASSWORD_FILE=/run/secrets/mysql_root_password
      - MYSQL_PASSWORD_FILE=/run/secrets/mysql_password
      - MYSQL_DATABASE_FILE=/run/secrets/mysql_database
      - MYSQL_USER_FILE=/run/secrets/mysql_user
    secrets:
      - mysql_root_password
      - mysql_password
      - mysql_database
      - mysql_user
#    deploy:
#      resources:
#        limits:
#          memory: 1G

  app:
    image: nextcloud
    container_name: nextcloud
    ports:
      - 8080:80
    links:
      - db
    volumes:
      - /srv/nextcloud:/var/www/html
    <<: *env
    environment:
      - MYSQL_PASSWORD_FILE=/run/secrets/mysql_password
      - MYSQL_DATABASE_FILE=/run/secrets/mysql_database
      - MYSQL_USER_FILE=/run/secrets/mysql_user
      - MYSQL_HOST_FILE=/run/secrets/mysql_host
    secrets:
      - mysql_password
      - mysql_database
      - mysql_user
      - mysql_host
#    deploy:
#      resources:
#        limits:
#          memory: 1G

  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    group_add:
      - "989"
      - "985"
    ports: 
      - 8096:8096
    volumes:
      - /srv/jellyfin/config:/config
      - /srv/jellyfin/cache:/cache
      - /mnt/storage:/media
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
    <<: *env
    environment:
      - ROC_ENABLE_PRE_VEGA=1
    deploy:
      resources:
        limits:
          memory: 1G

  homeassistant:
    image: ghcr.io/home-assistant/home-assistant:stable
    container_name: homeassistant
    ports: 
      - 8123:8123
    volumes:
      - /srv/homeassistant/config:/config
      - /etc/localtime:/etc/localtime:ro
    <<: *env
    privileged: true
    deploy:
      resources:
        limits:
          memory: 1G

  papermc:
    image: marctv/minecraft-papermc-server:latest
    container_name: papermc
    ports:
      - 25565:25565
    volumes:
      - /srv/papermc/data:/data
    <<: *env
    deploy:
      resources:
        limits:
          memory: 9.5G

  syncthing:
    image: lscr.io/linuxserver/syncthing:latest
    container_name: syncthing
    volumes:
      - /srv/syncthing/config:/config
      - /mnt/storage:/mnt/storage
    ports:
      - 8384:8384
      - 22000:22000/tcp
      - 22000:22000/udp
      - 21027:21027/udp
    <<: *env
    deploy:
      resources:
        limits:
          memory: 500M

  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    ports:
      - 80:80
    volumes:
      - /srv/vw-data:/data
    <<: *env
    deploy:
      resources:
        limits:
          memory: 500M

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    <<: *env
    deploy:
      resources:
        limits:
          memory: 50M
volumes:
  nextcloud:
  db:
