services:
  velociraptor:
    container_name: velociraptor
    image: wlambert/velociraptor
    #build:
    #  context: ./
    #  dockerfile: Dockerfile
    volumes:
      - /srv/velociraptor:/velociraptor/:rw
    environment:
      - VELOX_USER=${VELOX_USER}
      - VELOX_PASSWORD=${VELOX_PASSWORD}
      - VELOX_ROLE=${VELOX_ROLE}
      - VELOX_SERVER_URL=${VELOX_SERVER_URL}
      - VELOX_FRONTEND_HOSTNAME=${VELOX_FRONTEND_HOSTNAME}
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
    restart: unless-stopped
    ports:
      - "8000:8000"
      - "8001:8001"
      - "8889:8889"
    deploy:
      resources:
        limits:
          memory: 4G