  - name: Load OS-specific vars
    include_vars: "{{ lookup('first_found', params) }}"
    vars:
      params:
        files:
          - '{{ansible_distribution}}.yml'
          - '{{ansible_os_family}}.yml'
          - main.yml
        paths:
          - 'vars'

  - include_tasks: Archlinux.yml
    when: ansible_os_family == 'Archlinux'

  - include_tasks: Debian.yml
    when: ansible_os_family == 'Debian'

  - include_tasks: FreeBSD.yml
    when: ansible_os_family == 'FreeBSD'

  - include_tasks: OpenWrt.yml
    when: ansible_os_family == 'OpenWrt'

  - include_tasks: Ubuntu.yml
    when: ansible_os_family == 'Ubuntu'

  - include_tasks: Windows.yml
    when: ansible_os_family == 'Windows'

  - name: Update flatpaks
    ansible.builtin.command: flatpak update --noninteractive
    register: flatpak_update_output
    changed_when: "'app/' in flatpak_update_output.stdout"
    become: true
    become_method: doas
