  - name: Download auditd best practice rules
    - init
    - audit
    become: true
    become_method: doas
    ansible.builtin.get_url:
      url: https://raw.githubusercontent.com/Neo23x0/auditd/master/audit.rules
      dest: /etc/audit/rules.d/
      mode: '0440'
      backup: true

  - name: Start auditd
    tags:
    - start
    - audit
    become: true
    become_method: doas
    ansible.builtin.service:
      name: auditd
      state: started
      enabled: true