  - name: Load OS-specific vars
    include_vars: "{{ lookup('first_found', params) }}"
    vars:
      params:
        files:
          - '{{ansible_distribution}}.yml'
          - '{{ansible_os_family}}.yml'
          - main.yml

  - include_tasks: Archlinux.yml
    when: ansible_os_family == 'Archlinux'
  
  - name: Configure git global username
    git_config:
      name: user.name
      scope: global
      value: "{{ git_name }}"

  - name: Configure git global email
    git_config:
      name: user.email
      scope: global
      value: "{{ git_email }}"

  - name: Configure git global editor
    git_config:
      name: core.editor 
      scope: global
      value: "vim"
