  - name: Load OS-specific vars
    include_vars: "{{ lookup('first_found', params) }}"
    vars:
      params:
        files:
          - '{{ansible_distribution}}.yml'
          - '{{ansible_os_family}}.yml'
          - main.yml
        paths:
          - 'vars'

  - name: Create group for ssh users
    tags:
    - init
    - user
    become: true
    ansible.builtin.group:
      name: sshusers

  - name: Add nick to groups
    tags:
    - init
    - user
    become: true
    ansible.builtin.user:
      name: nick
      groups: "sshusers, wheel"
      shell: /bin/bash

  - name: Add authorized keys file
    tags:
    - init
    - ssh
    ansible.builtin.copy:
      remote_src: true
      src: ./config/authorized_keys
      dest: /home/nick/.ssh/
      mode: '0660'
      force: true

  - name: Download bash_aliases
    tags:
    - init
    - bash
    ansible.builtin.copy:
      remote_src: true
      src: ./config/.bash_aliases
      dest: /home/nick/
      mode: '0660'
      force: true

  - name: Download bashrc
    tags:
    - init
    - bash
    ansible.builtin.copy:
      remote_src: true
      src: ./config/.bashrc
      dest: /home/nick/
      mode: '0660'
      force: true

  - name: Secure SSH configuration
    tags:
    - init
    - ssh
    become: true
    ansible.builtin.copy:
      backup: true
      remote_src: true
      src: ./config/sshd_config
      dest: /etc/ssh/sshd_config
      force: true

  - name: Remove short diffie diffie-hellman
    tags:
    - init
    - ssh
    become: true
    ansible.builtin.shell: awk '$5 >= 3071' /etc/ssh/moduli > /etc/ssh/moduli.tmp && mv /etc/ssh/moduli.tmp /etc/ssh/moduli
    notify: Restart sshd

  - name: Download tmux.conf
    tags:
    - init
    - tmux
    ansible.builtin.copy:
      remote_src: true
      src: ./config/.tmux.conf
      dest: /home/nick/
      mode: '0660'
      force: true

  - name: Download ssh client config
    tags:
    - init
    - ssh
    ansible.builtin.copy:
      remote_src: true
      src: ./config/config
      dest: /home/nick/.ssh
      mode: '0660'
      force: true

  - include_tasks: arch.yml
    when: ansible_os_family == 'Archlinux'
