  - name: Create group for docker users
    tags:
    - init
    - user
    become: true
    become_method: doas
    ansible.builtin.group:
      name: docker

  - name: Add nick to docker group
    tags:
    - init
    - user
    become: true
    become_method: doas
    ansible.builtin.user:
      name: nick
      groups: "docker"

  - name: Activate the changes to groups
    tags:
    - init
    - user
    become: true
    become_method: doas
    ansible.builtin.shell: newgrp docker

  - name: Start docker service
    tags:
    - start
    - docker
    become: true
    become_method: doas
    ansible.builtin.service:
      name: docker
      state: started
      enabled: true

  - name: Start docker service
    tags:
    - start
    - docker
    become: true
    become_method: doas
    ansible.builtin.service:
      name: containerd
      state: started
      enabled: true
